appdirs==1.4.0
astroid==2.2.5
beautifulsoup4==4.8.0
colorama==0.4.1
Django==2.2.4
django-bootstrap-datepicker-plus==3.0.5
django-bootstrap4==1.0.1
django-crispy-forms==1.7.2
django-extensions==2.2.1
djangorestframework==3.10.3
djurl==0.2.0
isort==4.3.21
lazy-object-proxy==1.4.2
mccabe==0.6.1
packaging==16.8
psycopg2==2.8.3
pydot==1.4.1
pylint==2.3.1
pyparsing==2.1.10
pytz==2019.2
six==1.10.0
soupsieve==1.9.4
sqlparse==0.3.0
typed-ast==1.4.0
wrapt==1.11.2
