packages:
  yum:
    postgresql96-devel: [] # Install postgres dependency

container_commands:
  01_migrate: # This will ensure that migrations are run each time we deploy the app
    command: "django-admin.py migrate"
    leader_only: true
  02_collectstatic: # Collect the latest version of the static data
    command: "python manage.py collectstatic --noinput"

option_settings:
  aws:elasticbeanstalk:application:environment:
    DJANGO_SETTINGS_MODULE: freeJubileeProject.settings
  aws:elasticbeanstalk:container:python:
    WSGIPath: "freeJubileeProject/wsgi.py" # point to the wsgi.py to execute Django
