{% extends "base.html" %}

{% block content %}
  <h2>Register for Free Jubilee!</h2>
  <br>

  {% if form.errors %}
    <p style="color: red">Something is not quite right. Please try again.</p>
  {% endif %}
  <form method="post">
    {% csrf_token %}
    <input type="hidden" name="next" value="{{ next }}" />
    {% for field in form %}
      <p>
        {{ field.label_tag }}<br>
        {{ field }}<br>
        {% for error in field.errors %}
          <p style="color: red">{{ error }}</p>
        {% endfor %}
        {% if field.help_text %}
          <p><small style="color: grey">{{ field.help_text }}</small></p>
        {% endif %}
      </p>
    {% endfor %}
    <button type="submit">Register Now</button><br>
    <a href="{% url 'users:register' %}">Already Registered? Log In Here!</a>
  </form>
{% endblock %}

