{% load static %}

<!doctype html>

<html lang="en">
    <head>
        <meta charset="utf-8">
        <title>Free Jubilee</title>
        <meta name="description" content="free events">
        <meta name="author" content="Emma Mondy">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css" integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Questrial&display=swap" rel="stylesheet">
        <link rel="stylesheet" type="text/css" href="{% static 'freeJubileeApp/style.css' %}">
    </head>

    <body>
        <header>
            <div>
                <h1>Free Jubilee</h1>
                <h2>Find free events near you!</h2>
            </div>
            {% include './nav.html' %}
        </header>

        <div class="container">
            {% block content %}
            {% endblock %}
        </div>

    </body>
</html>